<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='icon/logo.svg') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite anime</title>
    <script type="module" crossorigin src="{{ url_for('static', filename='script/index-11ZfPtEl.js') }}"></script>
    <link rel="stylesheet" crossorigin href="{{ url_for('static', filename='style/index-mIihvlqn.css') }}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
