<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<p>
    <audio id="audio" autoplay="autoplay" controls="controls"></audio>
</p>

<script type="text/javascript">
    var WsAudio = (function () {
        function WsAudio(audio, audioUrl, workerSrc) {
            var _this = this;
            this.audio = audio;
            // Set audio element source
            var mediaSource = new MediaSource();
            this.audio.src = window.URL.createObjectURL(mediaSource);
            this.isFirstBlock = true;
            this.onUpdate = function (c, b) { };
            // Initialize background worker
            this.queue = [];
            this.worker = new Worker(workerSrc);
            mediaSource.addEventListener('sourceopen', function () {
                _this.sourceBuffer = mediaSource.addSourceBuffer('audio/webm; codecs="vorbis"');
                _this.worker.addEventListener('message', function (e) {
                    // Audio data received
                    var reader = new FileReader();
                    reader.addEventListener('loadend', function () {
                        _this.queue.push(reader.result);
                        _this.appendBlock();
                    });
                    reader.readAsArrayBuffer(e.data);
                }, false);
                // Start receiving audio segments
                _this.worker.postMessage({ command: 'init', url: audioUrl });
                _this.sourceBuffer.addEventListener('updateend', function () {
                    _this.appendBlock(); // Get a chance to clean up old audio
                });
            });
        }
        WsAudio.prototype.appendBlock = function () {
            if (this.sourceBuffer.updating)
                return;
            if (this.queue.length == 0 &&
                this.audio.currentTime > 2 &&
                this.audio.currentTime > this.sourceBuffer.buffered.start(0) + 5) {
                // Remove audio already listened to
                this.sourceBuffer.remove(0, this.audio.currentTime - 1);
                return;
            }
            if (this.queue.length == 0) {
                // Nothing to do
                return;
            }
            // Determine next append time
            var appendTime = 0;
            if (!this.isFirstBlock) {
                appendTime = this.sourceBuffer.buffered.end(0);
            }
            this.isFirstBlock = false;
            // Append audio segment
            this.sourceBuffer.timestampOffset = appendTime;
            this.sourceBuffer.appendBuffer(this.queue.shift());
            // Update stats
            this.onUpdate(this.audio.currentTime, appendTime);
        };
        return WsAudio;
    }());

</script>
</body>
</html>