
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color:#EDEFF7;
  }
  
.max-height {
    min-height: 100vh;
}
.bg-dark  {
    background-color: #1E1E1E !important; 
}
  
.bg-light-dark {
    background-color: #2B2B2B;
}
  
.bg-gray {
    background-color: #B0B0B0;
}
  
.fancy-font {
    font-family: 'Montserrat Alternates', sans-serif;
}

.bg-accent {
    background-color: #FF002D;
}

.text-light {
    color: #EDEFF7;
}

.text-dark {
    color: #000000;
}
.cover {
    width: 150px; /* Ширина квадрата */
    height: 150px; /* Высота квадрата */
    overflow: hidden; /* Обрезаем изображение, выходящее за пределы блока */
}

.cover img {
    width: 100%; /* Занимает 100% ширины блока */
    height: 100%; /* Занимает 100% высоты блока */
    object-fit: cover; /* Изображение вписывается в блок, сохраняя пропорции */
}
.player {
    margin: auto;
    max-width: 400px; /* Ширина блока плеера */
    text-align: center;
  }
.text-accent {
    color: #FF002D;
}
.seekbar {
width: 100%; /* Расширение seekbar на всю ширину */
}


.modal {
    position: fixed;
    top: 10%;

  }

#chatContainer {
position: fixed;
bottom: 0;
display: none;
max-height: 40vh; /* Задайте максимальную высоту чата */
min-height: 40vh; /* Задайте максимальную высоту чата */
width: 100%;
overflow-y: scroll;
}

#chatMessages {
padding: 10px;
}

.border-black {
    border: 2px solid #000000;
}

