<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Чят</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/chat.css') }}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/favicon.png') }}">

</head>
{% include "flash.html" %}
<body>
<main>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Отправить контент</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" id="attach-form">
                        <img src="#" style="display: none" alt="preview-img" id="attach-preview"/><input id="attach-content-file" name="attach_file" type="file" accept="image/*"/>
                        <label for="text-with-attach">
                            Текст сообщения
                            <input id="text-with-attach" type="text" name="text"/>
                        </label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel-attach" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" id="send-attach" class="btn btn-primary" data-bs-dismiss="modal">Отправить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col online-container" >
                <div class="container online-list" >
                    <p class="text-primary text-center font-monospace">В сети</p>
                    <ul id="users-list">
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 window">
                <p class="text-center text-primary font-monospace">Чатик</p>
                <ul id="chat-messages">
                </ul>
                <div class="control-panel">
                    <div class="input-group mb-3">
                        <button class="btn attach" id="attach"  data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="attach-img" src="{{ url_for('static', filename='icon/paperclip.svg') }}"/></button>
                        <input id="message" type="text" class="form-control" placeholder="Введите сообщение..." aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        <button class="btn send-msg" id="send_msg"><img class="send-img" src="{{ url_for('static', filename='icon/send.svg') }}"/></button>
                        <img class="scroll-down" id="button_scroll_down" width="40" src="{{ url_for('static', filename='icon/chat-down.svg') }}" alt="Пролистать чат вниз"/>
                    </div>
                </div>
            </div>
            <div class="col rooms-window">
                <p class="text-center text-primary">Комнаты</p>
                <ul id="rooms-list">
                </ul>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="module" src="{{ url_for('static', filename='script/chatView.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='script/chat.js') }}"></script>

</body>
</html>