<!doctype html><html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico">
    <title>chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script defer="defer" src="{{ url_for('static', filename='script/js/chunk-vendors.953dcc7b.js') }}"></script>
    <script defer="defer" src="{{ url_for('static', filename='script/js/app.db5c821c.js') }}"></script>
    <link href="{{ url_for('static', filename='style/css/chunk-vendors.7eece550.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/css/app.33418242.css') }}" rel="stylesheet">
</head>
<body><noscript><strong>We're sorry but chat doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
<div id="app"></div></body></html>