main {
    margin-top: 16px;
}

.window {
    border: #0a0a0a solid 1px;
    border-radius: 20px;
    display: flex;
    height: 93vh;
    flex-direction: column;
    position: relative;
}
.scroll-down {
    display: block;
    background-color: white;
    border-radius: 8px !important;
    border: 1px black solid;
    position: absolute;
    bottom: 50px;
    right: 0;
    cursor: pointer; /* Добавлено для указания на возможность взаимодействия с элементом */
    z-index: 999;
}
.control-panel {
    position: relative;
    bottom: 0;
    right: 5px;
    left: 5px;
    cursor: pointer; /* Добавлено для указания на возможность взаимодействия с элементом */
}
#chat-messages {
    list-style-type: none;
    overflow-y: scroll;
    width: 100%;
    padding: 0;
}
#users-list {
    list-style-type: none;
}
.online-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
button, input {
    width: fit-content;
    align-content: center;
    align-self: center;
}
.send-msg {
    margin-bottom: 8px;
}
.send-msg {
    border: 1px black solid;
    margin: 0;
    background-color: white;
}

@media screen and (max-width:540px) {
    .online-container {
        display: none !important;
    }
}